@model ApplicationCore.Models.MovieCardModel

<div class="col-md-3 mb-4">
    <div class="card h-100">
        <img src="@Model.PosterUrl" class="card-img-top" alt="@Model.Title" />
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
        </div>
    </div>
</div>